/* CSS Reset and Box Sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: white;
    margin: 0; /* Removes default body margin */
    min-height: 100vh; /* Ensures the body occupies the full height */
    display: flex;
    flex-direction: column;
}

/* Navbar Styling */
.navbar {
    width: 100%; /* Ensures navbar occupies full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #001f3f;
}

.navbar-logo img {
    width: 120px;
    height: auto;
}

.navbar-links {
    list-style-type: none;
    display: flex;
}

.navbar-links li {
    margin-left: 0px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: #dac96b;
    border-radius: 4px;
}

/* Flowchart Container */
.flowchart-container {
    flex-grow: 1; /* Allows this section to expand as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Flowchart Styling */
.flowchart {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flowchart-item {
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 20px 40px;
    margin: 10px 0;
    width: 300px;
    border-radius: 5px;
}

.flowchart-item p {
    margin: 0;
}

.start, .end {
    background-color: #4CAF50;
    color: white;
}

.decision {
    background-color: #FFEB3B;
}

.process {
    background-color: #FFC107;
}

.decision-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.decision-buttons span {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
}

.flowchart-arrow {
    font-size: 30px;
    margin: 10px 0;
}

/* Footer Styling */
.footer {
    width: 100%; /* Ensures footer occupies full width */
    padding: 20px;
    background-color: #001f3f;;
    color: #FFD700;
    text-align: center;
}